<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Resource Planning and Management</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
</head>
<body>
	<div class="container">
		<div class="header">
			<img class="img-responsive brand" src="/images/logo.png" /> <span
				class="">Resource Planning and Management</span>
			<div class="header-right">
				<a href="/">Home</a> <a href="/planned">Planned</a> <a
					href="/actual">Actual</a> <a href="/variance">Plan Variance</a> <a
					href="/attendance">Actual Variance</a><a class="active"
					href="import">Import</a><a
					href="/upload">Import</a>

			</div>
		</div>

		<div class="section editor">
			<p>Upload the Attendance File</p>
			<form action="/import" method="post" enctype="multipart/form-data">
				<input type="file" th:name="file" accept=".xls,xlsx"> <input
					th:type="submit" value="Import" />

			</form>
			<div th:if="${message}" th:text="${message}" class="alert alert-warning"></div>
	</div>
	</div>
</body>
</html>