<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Resource Planning and Management</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
 integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />

</head>
<body>
	<div class="container">
						<div class="header">
			<img class="img-responsive brand" src="/images/logo.png"/>
			<span class="">Resource Planning and Management</span>
			<div class="header-right">
				<a href="/">Home</a> <a class="active" href="/planned">Planned</a> <a
					href="/actual">Actual</a> <a href="/variance">Plan Variance</a> <a
					href="/attendance">Actual Variance</a><a
					href="/upload">Import</a>

			</div>
		</div>

		<div class="section editor">
			<div class="row">
				<div id="myMonth" class="col-sm-6">
					<label>Select Month</label> <select id="month">

					</select>
				</div>
				<div id="myYear" class="col-sm-6">
					<label>Select Year</label> <select id="year">
					</select>
				</div>
			</div>
		</div>
		<div class="alert alert-warning">
		  <div class="message"></div>
		</div>
		<div class="shifts">
			<table class="table-responsive-lg">

				<tbody>
				<tr><td></td></tr>
				</tbody>
				
			</table>
		</div>
		<button type="button" class="btn btn-secondary btn-update">Update All</button>
		<button type="button" class="btn btn-secondary btn-generate">Generate Excel</button>
		<div class="error"></div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/planned.js}"></script>
</html>